<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="pages/home/home">
<head>
    <script th:src=" @{/resources/custom/accounts/numbertowordconvertconvert.js}"></script>

    <script th:src=" @{/resources/custom/accounts/transfer.js}"></script>

</head>
<body>
<div class="row container-fluid mx-2" layout:fragment="content">
    <div class="col-md-11 col-sm-11 mb-4">

        <h4 class="text-muted">Account Transfer</h4>
        <input type="button" id="transfer" class="btn btn-outline-primary mr-3 ml-2 pull-right" value="Transfer">

        <input type="button" id="clear" class="btn btn-outline-primary mr-3 ml-2 pull-right" value="Clear">

    </div>


    <div class="container-fluid">
        <form id="transfer-form">

            <input type="hidden" name="username" id="username" th:value="${username}">

            <div class="row">

                <div class="col-md-8 col-sm-11">

                    <div class="form-row mb-4">
                        <label class="col-md-3 control-label" for="select">Debit Account</label>
                        <input type="hidden" name="debitAccount" id="debitAccount">
                        <select id="account_debit_sel" class="form-control col-md-8">
                        </select>
                    </div>



                </div>
                <div class=" col-md-8 form-row mb-4">
                    <label class="col-md-3 control-label" for="select">Balance</label>
                    <input type="hidden" name="debitbalanceCf"id="debitbalanceCf">
                    <h6 class="col-md-5 control-label text-danger" id="debitbalance"></h6>

                </div>

                <div class="col-md-8 col-sm-11">

                    <div class="form-row mb-4">
                        <label class="col-md-3 control-label" for="select">Transfer Amount</label>
                        <input type="text" class="form-control col-md-6" name="amount" id="amount">

                    </div>



                </div>

                <div class=" col-md-8 form-row mb-4">
                    <label class="col-md-3 control-label" for="select">Wording</label>

                    <textarea name="wording" id="wording" class="form-control col-md-8" style="height: 6em" readonly></textarea>


                </div>

                <div class="col-md-8 col-sm-11">

                    <div class="form-row mb-4">
                        <label class="col-md-3 control-label" for="select">Credit Account</label>
                        <input type="hidden" name="creditAccount" id="creditAccount">
                        <select id="account_credit_sel" class="form-control col-md-8">
                        </select>
                    </div>



                </div>
                <div class=" col-md-8 form-row mb-4">
                    <label class="col-md-3 control-label" for="select">Balance</label>
                    <input type="hidden" name="creditCf"id="creditbalanceCf">
                    <h6 class="col-md-5 control-label text-danger" id="creditbalance"></h6>

                </div>




            </div>
        </form>
    </div>

</div>

</body>
</html>