<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="pages/home/home">
<head>

    <script th:src=" @{/resources/custom/accounts/transactionhistory.js}"></script>

</head>
<body>
<div class="row container-fluid mx-2" layout:fragment="content">
    <div class="col-md-11 col-sm-11 mb-4">

        <h4 class="text-muted">Transaction History</h4>


    </div>


    <div class="container-fluid">
        <form id="withdraw-form">

            <input type="hidden" name="username" id="username" th:value="${username}">
            <input type="hidden" id="transferId" name="transferCode">

            <div class="row">

                <div class="col-md-8 col-sm-11">

                    <div class="form-row mb-4">
                        <label class="col-md-3 control-label" for="select">Bank Account</label>
                        <input type="hidden" name="transactionAccount" id="transactionAccount">
                        <select id="account_sel" class="form-control col-md-8">
                        </select>
                    </div>



                </div>

                <div class="col-md-8 col-sm-11">

                    <div class="form-row mb-4">
                        <label class="col-md-3 control-label" for="select">Transaction Type</label>
                       <select name="transaction" id="transaction" class="form-control col-md-6">
                           <option value="">Transaction Type</option>
                           <option value="Deposit">Deposit</option>
                           <option value="Withdraw">Withdraw</option>
                           <option value="Other">Other</option>
                       </select>
                    </div>



                </div>




            </div>
        </form>

        <div class="col-md-11 col-sm-11 ml-2 mt-2">

            <div class="table-responsive">
                <table class="table table-striped display responsive nowrap" id="transTable">
                    <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Account</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Transcode</th>
                        <th scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

</body>
</html>