<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="pages/home/home">
<head>

    <script th:src=" @{/resources/custom/accounts/accounts.js}"></script>

</head>
<body>
<div class="row container-fluid mx-2" layout:fragment="content">
    <div class="col-md-11 col-sm-11 mb-5">

        <h4 class="text-muted">My Accounts</h4>


    </div>


    <div class="container-fluid">

        <div class="col-md-11 col-sm-11 ml-2 mt-2">

            <div class="table-responsive">
                <table class="table table-striped display responsive nowrap" id="accountTable">
                    <thead>
                    <tr>
                        <th scope="col">Account Type</th>
                        <th scope="col">Account Name</th>
                        <th scope="col">Account Number</th>
                        <th scope="col">Status</th>
                        <th scope="col">Balance</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

</body>
</html>